/* src/Components/navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 15px 30px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #5ec7ff;
  }
  

  .logout-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}
